<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create poll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3 my-5">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"></div>
                    </div>
                    <div class="card-body">
                        <form action="/create" method="POST">
                            <div class="form-group">
                                <label for="title">Poll title</label>
                                <input type="text" class="form-control" placeholder="Enter poll title" id="title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Poll Description</label>
                                <textarea name="description" id="description" class="form-control"></textarea>
                            </div>
                            <div id="optoins">
                                <p>Enter your options</p>
                                <div class="form-control">
                                    <input type="text" name="options" class="form-control" placeholder="Option 1">
                                </div>
                                <div class="form-control">
                                    <input type="text" name="options" class="form-control" placeholder="Option 2">
                                </div>
                                <button id="addOption" class="btn btn-info btn-sm mt-3 mb-3">Add more option</button>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Custom javascript -->
<script>
    let options = document.getElementById('options');
    let addOption = document.getElementById('addOption');
    let currentOptonNumber = 3;

    addOption.addEventListener('click', function(e){
        e.preventDefault();
        let option = creaetNewOption();
        options.appendChild(option);

    });

    function creaetNewOption(){
        let div = document.createElement('div');
        div.className = 'form-group';

        let input = document.createElement('input');
        input.type = 'text';
        input.name = 'options';
        input.placeholder = 'Option ' + currentOptonNumber++;
        input.className = 'form-control';

        div.appendChild(input);
        return div;
    }
</script>
</body>
</html>
